* {
  padding: 0;
  margin: 0;
  font-family: "Poppins",serif;
}

html {
  scroll-behavior: smooth;
}


.btn {
  font-size: 1.1rem;
  letter-spacing: 0.1rem;
  border-radius: 0px !important;
  background: #000;
  border-color: #fff;
  padding: 4%;
}

.btn:hover {
  background-color: #333;
  border-color: #fff;
}

.form-control {
  border-radius: 0px !important
}

.nav-tabs .nav-link {
  border-top-right-radius: 0px !important;
  border-top-left-radius: 0px !important;
  border: 0px !important;
  color: #000 !important;
  margin-bottom: 0px !important;
}