.contact-head{
    margin-top: 30px;
    @media(max-width: 767px){
        margin-top: 23px;
    }
    background-color: #E1F4F3;
    background-repeat: no-repeat;
    background-size: cover;
    .content {
        padding: 80px 0px;
        color: #706C61;
        text-align: center;
    }
}
.contact-body{
    // margin: 80px 0px;
    ::placeholder{
        color: #706C61;
        font-family: 'Montserrat', sans-serif !important;
    }
    .box-form{
        background-color: #E1F4F3;
        border: 3px solid #706C61;
    }
    a{
        text-decoration: none;
        color: #E1F4F3;
    }
    p{
        color: #000;
    }
}