.navcrtSec {
       flex-direction: column;

       @media (max-width: 767px) {
              flex-direction: row !important;
       }
}

.menulst {
       font-size: 20px;
       color: #000;
       padding-left: 20px !important;
       padding-right: 20px !important;
}

.navcrtmenu {
       @media (max-width: 767px) {
              margin-right: 10%;
       }
}

.hname{
       font-size: 32px;
       @media (max-width: 767px) {
              font-size: 24px;
       }
}