.forgot-password-section{
    margin-top: 70px;
    margin-bottom: 40px;
    label{
        font-family: 'Montserrat', sans-serif;
    }
    .login-bdr{
        border: 1px solid #E1F4F3 !important;
    }
}